.container{
    background: rgb(255, 255, 255);
    
    
}

.foto{
    border-radius: 5em;
    box-shadow:0.2em 0.3em 0.5em rgba(0,0,0,0.5);
    
}

.Educación{
    background: rgb(211, 208, 255);
    border-radius: 0.3em;
    display: block;
    margin: 3em auto;
    padding: 0.3em;
    width: 60%;
    box-shadow:0.2em 0.3em 0.5em rgba(0,0,0,0.5);

}
.Experiencia{

    background: rgb(211, 208, 255);
    border-radius: 0.3em;
    display: block;
    margin: 1em auto;
    padding: 0.3em;
    width: 60%;
    box-shadow:0.2em 0.3em 0.5em rgba(0,0,0,0.5);
}
.perfil{
    
    background: rgb(211, 208, 255);
    border-radius: 0.3em;
    display: block;
    margin: 5em auto;
    padding: 0.3em;
    width: 60%;
    box-shadow:0.2em 0.3em 0.5em rgba(0,0,0,0.5);
}

.imagenes{
    display: grid;
            grid-template-columns: repeat(3, auto); 
            justify-content: center; 
            gap: 10px; 
            align-items: center; 
            height: 50%;
 }
 .imagenes img{
    
    width: 50px;
    height: auto;
 }
 .imagen1:hover {
    transform: scale(1.3); 
}
.imagen2:hover {
    transform: scale(1.3); 
}
.imagen3:hover {
    transform: scale(1.3); 
}
.progress{
    width: 20em;
}
#carouselExampleIndicators{
    box-shadow:0.2em 0.3em 0.5em rgba(0,0,0,0.5);
    margin: auto;
    width: 600px;
}